html {
    overflow-y: scroll;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', 'Helvetica', sans-serif;
    color: #333;
}

h1, h2, h3 {
    font-family: 'Rubik', 'Helvetica', sans-serif;
    /*color: #0037FF;*/
    margin: 1rem 0 0 0;
}

h3 {
    font-size: 1rem;
    font-weight: normal;
}

p {
    line-height: 1.5rem;
}

a, a:visited {
    font-size: 95%;
    color: #333;
    border-bottom: 1px solid #333;
    text-decoration: none;
}

a:hover {
    border-bottom: 2px solid #333;
}

main {
    padding: 2rem 4rem;
    font-size: .95rem;
}

.blue {
    background: #ededed;
}

#vis {
    right: 4rem;
}

.image-wrapper {
    padding: 1rem 0;
    margin: 0;
    display: inline-block;
    text-align: center;
}

.image-wrapper img {
    max-width: 100%;
}

textarea, input.subjects, input.emotions {
    margin-top: .5rem;
    font-family: 'Rubik', sans-serif;
    color: #333;
    border: 1px solid #ededed;
    font-size: .9025rem;
}

textarea {
    width: 80%;
    height: 60px;
}

textarea:focus, input:focus {
    outline: none;
}

.instructions {
    width: 80%;
    border: 2px solid #333;
    margin-top: 1rem;
    padding: 1rem;
}

input.subjects {
    width: 25%;
}

input.emotions {
    width: 55%;
}

.ui-menu {
    width: 200px;
    padding: 0;
    margin: 0;
    list-style-position: inside;
    background: #fff;
}

.ui-menu-item {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ui-menu-item-wrapper {
    margin: 0;
    background-image: none;
    border: 0 !important;
    padding: .25rem .25rem;
    height: 1rem;
    font-size: .9025rem;
    font-family: 'Rubik', 'Helvetica', sans-serif;
    opacity: .5;
}

.ui-menu-item .ui-menu-item-wrapper.ui-state-active,  .ui-menu-item .ui-menu-item-wrapper.ui-state-focus,
.ui-menu-item a.ui-state-focus {
    background-image: none !important;
    border: 0 !important;
    opacity: 1;
}

.ui-visual-focus {
    background-image: none;
    box-shadow: none !important;
}

.ui-helper-hidden-accessible {
    display: none;
}

.ui-menu-item-label {
    position: relative;
    margin: -1.4rem 0 0 1.25rem;
}

.ui-menu-item-wrapper img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.toggle {
    cursor: pointer;
}

#settings, #about {
    display: none;
    font-size: 95%;
}

ul.checklist {
    list-style: none;
    padding: 0;
}

ul.checklist li{
  display: inline;
}

ul.checklist li label {
    display: inline-block;
    background-color: #fff;
    border: 1px solid #ededed;
    color: #333;
    white-space: nowrap;
    margin: 3px 0px;
    padding: .5rem;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
    font-size: 95%;
}

ul.checklist li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: sans-serif;
    font-weight: 900;
    padding: 2px 6px 2px 2px;
    content: none;
    transition: transform .3s ease-in-out;
}

ul.checklist li input[type="checkbox"]:checked + label {
    border: 1px solid #333;
    background-color: #333;
    color: #fff;
}

ul.checklist li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

.slider-container {
    vertical-align: middle;
    padding: 1rem 0;
    width: 100%;
}

.slider-container label {
    vertical-align:middle;
}

.slider {
    width: 90%;
    vertical-align:middle;
    -webkit-appearance: none;
    background: #ededed;
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    background: #333;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 1rem;
    height: 1rem;
    background: #333;
    cursor: pointer;
}

.slider-container output {
    color: #333;
    font-size: .8rem;
}

.slider-container input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
    background-color: #ededed;
    border: 0;
    height: 1rem;
    width: 1rem;
    cursor: pointer;
    outline: none;
    margin: -1px 0 0 0;
    vertical-align: middle;
}

.slider-container input[type="radio"]:checked {
     background-color: #333;
}

#vis input[type="submit"] {
    margin: 1rem 0;
}

input[type="submit"], input[type="submit"].active {
    background-color: #333;
    color: #fff;
    border: none;
    padding: .5rem;
    font-family: 'Rubik', 'Helvetica', sans-serif;
    font-size: .9025rem;
    cursor: pointer;
}

input[type="submit"]:focus {
  outline: none;
}

@media only screen and (min-width: 768px) {
  /* For mobile phones: */
    .container {
        display: flex;
    }
    #input, #vis {
        width: 50%;
    }
    #vis {
        margin-left: 50%;
        text-align: center;
    }
    #input.demo {
        position: fixed;
    }
    .image-wrapper {
        max-width: 40%;
    }
    .demo .image-wrapper {
        max-width: 31%;
    }
    .image-label {
        font-size: 90%;
    }
}