absl-py==0.8.1
appnope==0.1.0
astor==0.8.0
attrs==18.2.0
backcall==0.1.0
benepar==0.1.2
bert-tensorflow==1.0.1
bleach==3.1.0
blis==0.2.4
boto3==1.9.218
botocore==1.12.218
certifi==2018.11.29
chardet==3.0.4
Click==7.0
click-completion==0.5.2
click-didyoumean==0.0.3
click-help-colors==0.6
cloudpickle==1.2.2
colorama==0.3.9
cursor==1.3.4
cycler==0.10.0
cymem==2.0.2
Cython==0.29.13
cytoolz==0.10.1
dask==2.10.1
datadog==0.32.0
decorator==4.3.2
defusedxml==0.5.0
docutils==0.15.2
en-core-web-lg==2.1.0
en-core-web-sm==2.1.0
entrypoints==0.3
Flask==1.0.3
future==0.17.1
gast==0.2.2
google-pasta==0.1.8
gradient==0.5.0a2
gradient-sdk==0.0.4
gradient-statsd==1.0.1
grpcio==1.16.1
h5py==2.8.0
halo==0.0.28
hyperopt==0.1.2
idna==2.8
imageio==2.6.1
ipykernel==5.1.0
ipython==7.3.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
itsdangerous==1.1.0
jedi==0.13.3
Jinja2==2.10
jmespath==0.9.4
joblib==0.14.1
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.0.1
log-symbols==0.0.14
Markdown==3.1.1
MarkupSafe==1.1.1
marshmallow==2.20.5
matplotlib==3.0.3
mistune==0.8.4
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
nbconvert==5.4.1
nbformat==4.4.0
nelson==0.4.3
networkx==2.4
neuralcoref==4.0
nltk==3.4.5
notebook==5.7.4
numpy==1.18.1
olefile==0.46
open3d-python==0.5.0.0
opt-einsum==3.1.0
pandas==1.0.0
pandocfilters==1.4.2
parso==0.3.4
pexpect==4.6.0
pickleshare==0.7.5
Pillow==6.2.0
preshed==2.0.1
progressbar2==3.47.0
prometheus-client==0.6.0
prompt-toolkit==2.0.9
protobuf==3.11.2
ptyprocess==0.6.0
Pygments==2.3.1
pymongo==3.9.0
Pympler==0.7
pyparsing==2.3.1
pyrsistent==0.14.11
python-dateutil==2.8.0
python-utils==2.3.0
pytz==2019.3
PyWavelets==1.1.1
PyYAML==5.1.2
pyzmq==18.0.1
qtconsole==4.4.3
requests==2.21.0
requests-toolbelt==0.9.1
s3transfer==0.2.1
scikit-image==0.16.2
scikit-learn==0.22.1
scipy==1.4.1
seaborn==0.10.0
Send2Trash==1.5.0
shellingham==1.3.1
six==1.12.0
spacy==2.1.8
spinners==0.0.23
srsly==0.1.0
tensorboard==1.15.0
tensorflow==1.15.0
tensorflow-estimator==1.15.1
termcolor==1.1.0
terminado==0.8.1
terminaltables==3.1.0
testpath==0.4.2
thinc==7.0.8
toolz==0.10.0
tornado==5.1.1
traitlets==4.3.2
urllib3==1.24.1
wasabi==0.2.2
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.16.1
widgetsnbextension==3.4.2
wrapt==1.11.2
